# IDE and editor files.
.vscode
.devcontainer

# Git related
.git
.gitignore
.github

.husky

# configuration files
.env
.env.*
# .env.*.local

# Docker related
docker-compose*
Dockerfile
.dockerignore

# Composer related
composer.phar
vendor

# Node related
node_modules
npm-debug.log

# Next.js related
.next

test
tests
storage/*/*
logs/*
*.log
**/cache

