/* https://nextjs.org/docs/basic-features/built-in-css-support#adding-a-global-stylesheet */

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
